# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle files
.gradle/
build/
bin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.cache/
.project/
.classpath/
.settings/

# STS files
.sts/
.springBeans/

.classpath
.factorypath
.project

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/
target/

# VS Code files
.vscode/

# Mac OS X
.DS_Store


# Maven Wrapper
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.properties
